.score-board {
    text-align: center;
    padding: 25px;
    font-family: Courier, monospace;
    font-size: 500px;
}
.player {
    display: inline-block;
    padding: 15px;
}
.white {
    color: #ffffff;
}
.blue {
    color: #0000ff;
}